* {
    font-size: 26px;
    font-family: 'PT Mono', monospace;
}

button {
    border-radius: 50%;
}

.container-wrap {
    height: 1000px;
    display: flex;
    justify-content: center;
}

.container-contain {
    width: 500px;
    height: 800px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.display {
    height: 300px;
    text-align: right;
    word-wrap: break-word;
}

.row1,.row2,.row3,.row4,.row5 {
    flex: 1;
    display: flex;
    gap: 10px;
}

.row1 > button {
    flex:1;
}

.row2 > button {
    flex:1;
}

.row3 > button {
    flex:1;
}

.row4 > button {
    flex:1;
}

.row5 > button {
    flex:1;
}

.row1 > button:first-child {
    border-radius: 40px;
    flex: 2;
}

.row5 > button:first-child {
    padding-left: 50px;
    text-align: left;
    border-radius: 40px;
    flex: 2;
}